{% extends 'index.html' %}
{% load static %}
{% load i18n %}

{% block page %}

{% for a in banner %}
    <div
      class="page-header page-header_align_center"
      style="background-image: url({{ a.image.url }})"
    >
      <div class="page-header_wrapper">
        <div class="wgl-container">
          <div class="page-header_content">
            <div
              class="page-header_title"
              style="color: #ffffff; font-size: 42px; line-height: 54px"
            >
              {% trans 'НПА' %}
            </div>
            <div
              class="page-header_breadcrumbs"
              style="color: #ffffff; font-size: 14px; line-height: 34px"
            >

            </div>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
    <main id="main" class="site-main">
      <div class="elementor elementor-3200">
        <section
          class="elementor-section elementor-top-section elementor-element elementor-reverse-tablet elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        >
          <div
            class="elementor-container"
            style="padding: 50px 15px; column-gap: 40px"
          >
            <div
              class="elementor-widget-container elementor-widget-text-editor"
            >
            {{ npa.text|safe }}

            </div>
          </div>
        </section>
      </div>
    </main>

    {% endblock %}